
.container {
  width: 255px;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  margin: auto;
  color: white;
  font-weight: 500;
}
.row {
  display: flex;
}

.title {
  background: #4e89ff;
  padding: 5px 0;
  margin: 5px 0;
}
span {
  color: #010101;
}
.square {
  width: 80px;
  height: 80px;
  background: #4e89ff;
  display: flex;
  justify-content: center;
  margin: 2px;
  font-size: 54px;
}
.square:hover {
  background: #8da7dc;
  cursor: pointer;
}
